@import url(./normalize.css);
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 3000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1280px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 10; }
  header .container-fluid .header-inner {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    header .container-fluid .header-inner .logo {
      font-family: "Playfair Display", "poppins";
      font-size: 1.875rem;
      font-weight: 700;
      color: #233567; }
    header .container-fluid .header-inner .navigation {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center; }
      header .container-fluid .header-inner .navigation nav ul {
        display: flex;
        align-items: center;
        padding: 0; }
        header .container-fluid .header-inner .navigation nav ul li {
          list-style: none;
          margin: 0 40px; }
          @media (max-width: 1440px) {
            header .container-fluid .header-inner .navigation nav ul li {
              margin: 0 24px; } }
          header .container-fluid .header-inner .navigation nav ul li a {
            font-size: 0.875rem;
            padding: 8px 0;
            text-decoration: none;
            font-weight: 600;
            color: #233567; }
    header .container-fluid .header-inner .nav-logins {
      display: flex;
      align-items: center; }
      header .container-fluid .header-inner .nav-logins .login a {
        font-size: 0.875rem;
        padding: 8px 0;
        text-decoration: none;
        font-weight: 600;
        color: #233567;
        margin-right: 48px; }
        @media (max-width: 1440px) {
          header .container-fluid .header-inner .nav-logins .login a {
            margin-right: 24px; } }
      header .container-fluid .header-inner .nav-logins .apply a {
        display: inline-block;
        height: 52px;
        line-height: 52px;
        font-size: 0.875rem;
        padding: 0px 32px;
        text-decoration: none;
        font-weight: 600;
        color: #233567;
        border: 2px solid #233567;
        border-radius: 100px; }
        @media (max-width: 1440px) {
          header .container-fluid .header-inner .nav-logins .apply a {
            height: 48px;
            line-height: 48px; } }
        @media (max-width: 1440px) {
          header .container-fluid .header-inner .nav-logins .apply a {
            padding: 0px 24px; } }

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 3000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1280px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.banner {
  height: 80vh;
  position: relative; }
  @media (max-width: 1440px) {
    .banner {
      height: 90vh; } }
  .banner #banner-bg {
    background: #ffe5e5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%; }
  .banner #banner-additonal-bg {
    background: #233567;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%; }
  .banner .banner-inner {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative; }
    @media (max-width: 1440px) {
      .banner .banner-inner {
        height: 90vh; } }
    .banner .banner-inner .content {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center; }
      .banner .banner-inner .content .content-inner h1 {
        font-family: "Playfair Display";
        color: #233567;
        font-size: 3.4rem;
        line-height: 4.8rem;
        margin: 32px 0 0;
        width: 620px; }
        @media (max-width: 1440px) {
          .banner .banner-inner .content .content-inner h1 {
            font-size: 3.1rem;
            line-height: 3.6rem;
            margin: 32px 0 0; } }
        .banner .banner-inner .content .content-inner h1 .line {
          overflow: hidden;
          height: 70px;
          position: relative; }
          .banner .banner-inner .content .content-inner h1 .line span {
            position: absolute; }
      .banner .banner-inner .content .content-inner p {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 300;
        color: #233567;
        width: 520px;
        margin: 32px 0 80px; }
        @media (max-width: 1440px) {
          .banner .banner-inner .content .content-inner p {
            margin: 16px 0 60px; } }
      .banner .banner-inner .content .content-inner .btn-row a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        font-size: 1rem;
        padding: 0px 32px;
        text-decoration: none;
        font-weight: 600;
        color: #ffffff;
        background: #d57868;
        border-radius: 100px; }
      .banner .banner-inner .content .content-inner .play-video {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 4px 4px 0 0;
        overflow: hidden; }
        .banner .banner-inner .content .content-inner .play-video .cover {
          padding: 0;
          background: #ffe5e5;
          right: 0;
          z-index: 9;
          height: 64px;
          opacity: 0; }
        .banner .banner-inner .content .content-inner .play-video span {
          opacity: 0;
          display: flex;
          align-items: center;
          height: 64px;
          padding: 0 32px;
          background: #ffffff;
          font-weight: 600;
          color: #233567; }
          .banner .banner-inner .content .content-inner .play-video span img {
            margin-right: 1rem; }
    .banner .banner-inner .image {
      position: relative;
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .banner .banner-inner .image .image-inner img {
        width: 450px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9; }
        @media (max-width: 1440px) {
          .banner .banner-inner .image .image-inner img {
            width: 400px; } }
      .banner .banner-inner .image .image-inner .feature-banner {
        position: absolute;
        bottom: 286px;
        left: -10px;
        background: #315b96;
        color: #ffffff;
        height: 52px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        border-radius: 4px;
        font-weight: 600; }
        .banner .banner-inner .image .image-inner .feature-banner.green {
          background: #76d8aa;
          right: 32px;
          left: auto;
          bottom: 116px; }
          @media (max-width: 1440px) {
            .banner .banner-inner .image .image-inner .feature-banner.green {
              right: -24px; } }

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 3000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1280px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.features {
  margin-top: 20vh; }
  .features .features-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .features .features-inner .features-content {
      width: 33%; }
      @media (max-width: 1440px) {
        .features .features-inner .features-content {
          width: 40%; } }
      .features .features-inner .features-content h3 {
        font-family: "Playfair Display";
        color: #233567;
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin: 0 0 42px; }
      .features .features-inner .features-content p {
        line-height: 1.8rem;
        font-weight: 300;
        color: #233567;
        margin-bottom: 88px; }
        @media (max-width: 1440px) {
          .features .features-inner .features-content p {
            padding-right: 60px; } }
      .features .features-inner .features-content .btn-row a {
        color: #233567;
        text-decoration: none;
        font-weight: 600; }
        .features .features-inner .features-content .btn-row a img {
          margin-left: 16px; }
    .features .features-inner .features-list {
      width: 50%;
      display: flex;
      justify-content: center; }
      .features .features-inner .features-list ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0; }
        .features .features-inner .features-list ul li {
          list-style: none; }
          .features .features-inner .features-list ul li img {
            margin-bottom: 24px; }
          .features .features-inner .features-list ul li h5 {
            color: #233567;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0; }
          .features .features-inner .features-list ul li p {
            line-height: 1.8rem;
            font-weight: 300;
            color: #233567;
            width: 270px;
            margin: 16px 0 72px;
            font-size: 1rem; }
            @media (max-width: 1440px) {
              .features .features-inner .features-list ul li p {
                font-size: 0.875rem; } }
