body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 2000px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }
