//media query
$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";

// color
$blue: #233567;
$lBlue: #315b96;
$pink: #fadcdc;
$lPink: #ffe5e5;
$green: #76d8aa;
$redOrange: #d57868;
$white: #ffffff;

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 2000px;
}

// Container
.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto;
  @media (max-width: $widescreen) {
    width: 1153px;
    min-width: 1153px;
  }
  @media (max-width: $desktop) {
    width: 961px;
    min-width: 961px;
  }
  @media (max-width: $laptop) {
    width: 767px;
    min-width: 767px;
  }
  @media (max-width: $tablet) {
    width: 481px;
    min-width: 481px;
  }
  @media (max-width: $mobile) {
    width: 320px;
    min-width: 320px;
  }
  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}
.container-fluid {
  padding: 0 48px;
  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}
