@import "../variables.scss";

.banner {
  height: 80vh;
  position: relative;
  @media (max-width: $widescreen) {
    height: 90vh;
  }
  .banner-addition-bg {
    background: $blue;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-bg {
    background: $lPink;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-inner {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    @media (max-width: $widescreen) {
      height: 90vh;
    }
    .content {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      .content-inner {
        h1 {
          font-family: "Playfair Display";
          color: $blue;
          font-size: 3.4rem;
          line-height: 4.8rem;
          margin: 32px 0 0;
          width: 620px;
          @media (max-width: $widescreen) {
            font-size: 3.1rem;
            line-height: 3.6rem;
          }
          .line {
            overflow: hidden;
            height: 70px;
            position: relative;
            span {
              position: absolute;
            }
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.6rem;
          font-weight: 300;
          color: $blue;
          width: 520px;
          margin: 32px 0 80px;
          @media (max-width: $widescreen) {
            margin: 16px 0 60px;
          }
        }
        .btn-row {
          a {
            display: inline-block;
            height: 56px;
            line-height: 56px;
            font-size: 1rem;
            padding: 0 32px;
            text-decoration: none;
            font-weight: 600;
            color: $white;
            background: $redOrange;
            border-radius: 100px;
          }
        }
        .play-video {
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 4px 4px 0 0;
          overflow: hidden;
          .cover {
            padding: 0;
            background: $lPink;
            right: 0;
            z-index: 9;
            height: 64px;
            opacity: 0;
          }
          span {
            opacity: 0;
            display: flex;
            align-items: center;
            height: 64px;
            padding: 0 32px;
            background: $white;
            font-weight: 600;
            color: $blue;
            img {
              margin-right: 1rem;
            }
          }
        }
      }
    }
    .image {
      position: relative;
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .image-inner {
        img {
          width: 450px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 9;
          @media (max-width: $widescreen) {
            width: 400px;
          }
        }
        .feature-banner {
          position: absolute;
          bottom: 286px;
          left: -10px;
          background: $lBlue;
          color: $white;
          height: 52px;
          display: flex;
          align-items: center;
          padding: 0 32px;
          border-radius: 4px;
          font-weight: 600;
          &.green {
            background: $green;
            right: 32px;
            left: auto;
            bottom: 116px;
            @media (max-width: $widescreen) {
              right: -24px;
            }
          }
        }
      }
    }
  }
}
