@import "../variables.scss";

header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 10;
  .container-fluid {
    .header-inner {
      position: relative;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .logo {
        font-family: "Playfair Display", "Poppins";
        font-size: 1.875rem;
        font-weight: 700;
        color: $blue;
      }
      .navigation {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        nav {
          ul {
            display: flex;
            align-items: center;
            padding: 0;
            li {
              list-style: none;
              margin: 0 40px;
              @media (max-width: $widescreen) {
                margin: 0 24px;
              }
              a {
                font-size: 0.875rem;
                padding: 8px 0;
                text-decoration: none;
                font-weight: 600;
                color: $blue;
              }
            }
          }
        }
      }
      .nav-logins {
        display: flex;
        align-items: center;
        .login {
          a {
            font-size: 0.875rem;
            padding: 8px 0;
            text-decoration: none;
            font-weight: 600;
            color: $blue;
            margin-right: 48px;
            @media (max-width: $widescreen) {
              margin-right: 24px;
            }
          }
        }
        .apply {
          a {
            display: inline-block;
            height: 52px;
            line-height: 52px;
            font-size: 0.875rem;
            padding: 0 32px;
            text-decoration: none;
            font-weight: 600;
            color: $blue;
            border: 2px solid $blue;
            border-radius: 100px;
            transition: 0.2s ease-in-out;
            &:hover {
              background: $blue;
              color: $white;
            }
            @media (max-width: $widescreen) {
              padding: 0 24px;
            }
          }
        }
      }
    }
  }
}
